/* style for error messages*/
#error_result
{
    font-family: "Brush Script MT";
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #4e16b6;
    color: white;
}

/* style for the title*/
.title
{
    text-align: center;
    font-family: "Comic Sans MS";
    color: #4e16b6;
    font-weight: bold;
}

/* style for rowID*/
.row
{
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 25px;
}

/*style for information*/
.info
{
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 25px;
}

/*style for error message table*/
#error_result th
{
    padding-top: 15px;
    padding-bottom: 15px;
    border: #4e16b6;
    color: white;
}